<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<title>About</title>
<link rel="icon" href="/web-server/public/img/pic3.webp">

<body>
    <div class="main-content">
    {{>header}}
    <img class="portriat" src="img/pic1.webp">
    </div>
    {{>footer}}

</body>
</html>